@media only screen and (min-width: 768px) {
  body{
      max-width: 1960px;
  }
  *{
      transition: all 1.5s ease-in-out;
  }
  
  #ab{
      width: 500%;
      height: 100px;
      background: rgb(100, 95, 81);
  }
  
  /* #b{
      height: 600px;
      width: 20.833333%;
      float: left;
      background:rgb(53, 49, 49);
  } */
  
  #cd{
      height: 200px;
      width: 79.16666%;
      float: left;
  }
  
  #cd{
      height: 100%;
      width: 100%;
      float: left;
      background:rgb(204, 201, 196);
  }
/*   
  #d{
      height: 100%;
      width:50%;
      float: right;
      background:rgb(177, 173, 168);
  } */
  
  #efgh{
      margin-right: 7vw;
      float: right;
      width:79.1666%;
  }
  
  #e{
      background:rgb(37, 35, 33);
  }
  #f{
      background:rgb(182, 171, 161);
  }
  
  #g{
      background:rgb(114, 111, 108);
  }
  #h{
      background:rgb(121, 115, 111);
  }
  
  #e, #f, #g, #h{
      float: left;
      width:25%;
      height:250px;
  }
  
  #i{
      height:150px;
      width:79.166%;
      float:right;
      background:rgb(95, 36, 7);
  }
  
  body {
      background:rgb(117, 24, 81);
  }
  
  div:hover{
      text-shadow: 9px 9px 5px rgba(19, 19, 19, 0.64);
      box-shadow: inset 0 0 20px 20px rgba(116, 71, 5, 0.2);
  }
  
  
  } 